table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:hover {
  background-color: #f9f9f9;
}

td img {
  width: 50px;
  border-radius: 4px;
}

.buttonRemove {
  padding: 8px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.buttonRemove:hover {
  background-color: #d32f2f;
  transform: scale(0.9);
}

.total-row {
  font-weight: bold;
  font-size: 1.1rem;
}

td,
th {
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 600px) {

  th,
  td {
    padding: 8px 10px;
  }

  td img {
    width: 40px;
  }

  button {
    padding: 6px 10px;
    font-size: 0.9rem;
  }
}